<div id="page-top" *ngIf="!isLogged">
  <!-- ======= Intro Section ======= -->
  <div>
    <div
      id="myCarouselCustom"
      class="carousel slide"
      data-ride="carousel"
      class="intro route bg-image"
    >
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img
            src="assets/img/web/Banner-7.jpg"
            alt=""
            style="width: 100%; height: 600px"
          />
          <div class="carousel-caption"></div>
        </div>
 
        <div class="item">
          <img
            src="assets/img/web/Banner-2.jpg"
            alt=""
            style="width: 100%; height: 600px"
          />
          <div class="carousel-caption"></div>
        </div>

        <div class="item">
          <img
            src="assets/img/web/Banner-3.jpg"
            alt=""
            style="width: 100%; height: 600px"
          />
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img
            src="assets/img/web/Banner-4.jpg"
            alt=""
            style="width: 100%; height: 600px"
          />
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img
            src="assets/img/web/Banner-5.jpg"
            alt=""
            style="width: 100%; height: 600px"
          />
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img
            src="assets/img/web/Banner-6.jpg"
            alt=""
            style="width: 100%; height: 600px"
          />
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img
            src="assets/img/web/Banner-1.jpg"
            alt=""
            style="width: 100%; height: 600px"
          />
          <div class="carousel-caption"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Custom Controls -->
  <a href="javascript:void(0);" id="prevBtn"></a>
  <a href="javascript:void(0);" id="nextBtn"></a>
  <!-- End Intro Section -->

  <!-- ======= About Section ======= -->
  
    <div class="container">
      <h2
        class="elementor-heading-title elementor-size-xxl"
        style="color: white; font-size: 65px; text-align: center"
      >
        <strong>Nuestros Servicios</strong>
      </h2>
    <!-- SERVICIOS -->
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div class="input-field col s4">
                <a routerLink="/products/services-employes">
                  <img
                  src="assets/img/publicidad/servicioFondo.png"
                  alt=""
                  style="width: 370px; height: 340px"
                />
                </a>
            </div>
            <div class="input-field col s4">
              <a routerLink="/products/services-employes">
                <img
                src="assets/img/publicidad/s1.png"
                alt=""
                style="width: 370px; height: 340px"
              />
              </a>
          </div>

          <div class="input-field col s4">
            <a routerLink="/products/services-employes">
              <img
              src="assets/img/publicidad/s2.png"
              alt=""
              style="width: 370px; height: 340px"
            />
            </a>
        </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <div class="input-field col s4">
                <a routerLink="/products/services-employes">
                  <img
                  src="assets/img/publicidad/s3.png"
                  alt=""
                  style="width: 370px; height: 340px"
                />
                </a>
            </div>
            <div class="input-field col s4">
              <a routerLink="/products/services-employes">
                <img
                src="assets/img/publicidad/s4.png"
                alt=""
                style="width: 370px; height: 340px"
              />
              </a>
          </div>

          <div class="input-field col s4">
            <a routerLink="/products/services-employes">
              <img
              src="assets/img/publicidad/s5.png"
              alt=""
              style="width: 370px; height: 340px"
            />
            </a>
        </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SECTION TODO LO QUE NECESITAS Y VIDEO -->
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="input-field col s6">
              <br>
              <br>
              <br>
              <br>
              <br>
              <h1 style="color: white">!! TODO LO QUE NECESITAS PARA VIVIR LA MÚSICA !!</h1>
          </div>
          <div class="input-field col s6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cJl1np5Bh9Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>
      </div>
    </div>
    <!-- GALERIA -->

    <div class="container">
      <h2
        class="elementor-heading-title elementor-size-xxl"
        style="color: white; font-size: 65px; text-align: center"
      >
        Galería
      </h2>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div class="input-field col s4">
                <a routerLink="/products/services-employes">
                  <img
                  src="assets/img/publicidad/g2.png"
                  alt=""
                  style="width: 350px; height: 340px"
                />
                </a>
            </div>
            <div class="input-field col s4">
              <a routerLink="/products/services-employes">
                <img
                src="assets/img/publicidad/g1.png"
                alt=""
                style="width: 350px; height: 340px"
              />
              </a>
          </div>

          <div class="input-field col s4">
            <a routerLink="/products/services-employes">
              <img
              src="assets/img/publicidad/g3.png"
              alt=""
              style="width: 350px; height: 340px"
            />
            </a>
        </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <div class="input-field col s4">
                <a routerLink="/products/services-employes">
                  <img
                  src="assets/img/publicidad/g4.png"
                  alt=""
                  style="width: 350px; height: 340px"
                />
                </a>
            </div>
            <div class="input-field col s4">
              <a routerLink="/products/services-employes">
                <img
                src="assets/img/publicidad/g5.png"
                alt=""
                style="width: 350px; height: 340px"
              />
              </a>
          </div>

          <div class="input-field col s4">
            <a routerLink="/products/services-employes">
              <img
              src="assets/img/publicidad/g6.png"
              alt=""
              style="width: 350px; height: 340px"
            />
            </a>
        </div>
          </div>
        </div>
      </div>

    </div>

    <!-- CONTACTOS -->
    <div class="container">
        <h2
        class="elementor-heading-title elementor-size-xxl"
        style="color: white; font-size: 65px; text-align: center"
      >
        <strong>CONTACTO</strong>
      </h2>
      <div class="row">
        <div class="col s12">
          <div class="input-field col s6">
            <br>
            <br>
            <br><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d997.3238755875434!2d-78.61937400000001!3d-0.9275580000000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a6e631b8e99%3A0x3ac91f86b9b0b862!2sAv.%20Amazonas%201022%2C%20Quito%20170517%2C%20Ecuador!5e0!3m2!1ses-419!2sus!4v1613144199848!5m2!1ses-419!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
          <div class="input-field col s6">
              <br>
              <img src="assets/img/publicidad/c1.png" width="540px" height="600px" alt="">
          </div>
          
        </div>
      </div>
    </div>

  <!-- End About Section -->
</div>
<script type="text/javascript">
  // Call carousel manually
  $("#myCarouselCustom").carousel();

  // Go to the previous item
  $("#prevBtn").click(function () {
    $("#myCarouselCustom").carousel("prev");
  });
  // Go to the previous item
  $("#nextBtn").click(function () {
    $("#myCarouselCustom").carousel("next");
  });
</script>
