<div class="container">
  <h2
    class="elementor-heading-title elementor-size-xxl"
    style="color: white; font-size: 65px; text-align: center; margin-top:40px;"
  >
    <strong>Nuestros Servicios</strong>
  </h2>

  <div class="row">
    <div class="col s12">
      <div class="input-field col s6">
        <img src="assets/img/publicidad/Clases.jpg" alt="" width="540px" height="520px">
      </div>
      <div class="input-field col s6">
        <img src="assets/img/publicidad/escuelamoderna.png" alt="">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12">
     <img src="assets/img/publicidad/servicio2.png" width="1190px" height="520px" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col s12">
     <img src="assets/img/publicidad/servicio3.png" width="1190px" height="520px" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col s12">
     <img src="assets/img/publicidad/servicio4.png" width="1190px" height="520px" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col s12">
     <img src="assets/img/publicidad/servicio5.png" width="1190px" height="520px" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col s12">
     <img src="assets/img/publicidad/servicio6.png" width="1190px" height="520px" alt="">
    </div>
  </div>
</div>
