<nav>
    <div class="nav-wrapper black">
      <a href="#" class="brand-logo"> Everlasting Music</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li *ngIf="!isLogged"><a routerLink="/parameters/category-list">Category</a></li>
        <li *ngIf="!isLogged"><a routerLink="/parameters/brand-list">Brand</a></li>
        <li *ngIf="isLogged"><a routerLink="/security/logout">Logout</a></li>
        <li *ngIf="isLogged"><a routerLink="/security/change-password">Change Password</a></li>
        <li *ngIf="!isLogged"><a routerLink="/customer/register">Register</a></li>
        <li *ngIf="!isLogged"><a routerLink="/security/login">Login</a></li>



        

      </ul>
    </div>
</nav>
        