<div class="form-container" style="margin-left:30%;margin-right:25%; margin-top:40px;">
    <div id="login-page" class="row card-panel">
      <div class="col s12 z-depth-6 card-header">
        <span class="card-title">
          <h4>
             <strong>BIENVENIDO</strong>        
         </h4>
         <p>
          Toda buena música debe ser una innovación
         </p>
       </span>
        <form [formGroup]="fgValidator" class="login-form">
           <!--CONTRASEÑA ACTUAL-->
          <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
              <input formControlName="currentPassword"  class="validate" id="currentPassword" type="password">
              <label for="currentPassword" data-error="wrong" data-success="right">Contraseña Actual</label>
              <div class="warning-validator" *ngIf="fgv.currentPassword.errors && (fgv.currentPassword.dirty || fgv.currentPassword.touched)"> 
                <strong *ngIf="fgv.currentPassword.errors.required">
                    This field is requerid
                </strong>
              </div>
            </div>
            
          </div>
           <!--NUEVA CONTRASEÑA 1-->

          <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input formControlName="newPassword"  class="validate" id="newPassword" type="password">
                <label for="newPassword" data-error="wrong" data-success="right">Nueva Contraseña</label>
                <div class="warning-validator" *ngIf="fgv.newPassword.errors && (fgv.newPassword.dirty || fgv.newPassword.touched)"> 
                  <strong *ngIf="fgv.newPassword.errors.required">
                      This field is requerid
                  </strong>
                </div>
            </div>
           
          </div>
           <!--NUEVA CONTRASEÑA 2-->

          <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input formControlName="newPassword2"  class="validate" id="newPassword2" type="password">
                <label for="newPassword2" data-error="wrong" data-success="right">Nueva Contraseña</label>
                <div class="warning-validator" *ngIf="fgv.newPassword2.errors && (fgv.newPassword2.dirty || fgv.newPassword2.touched)"> 
                  <strong *ngIf="fgv.newPassword2.errors.required">
                      This field is requerid
                  </strong>
                </div>
            </div>
          </div>
           <!--botones-->
          <div class="row">
            <div class="input-field col s12">
              
              <button (click)="ChangePasswordFn()" class="btn btn-large btn-register btn btn-success col s12" type="button" name="action">
                Reset
              </button>
              
              
            </div>
          </div>
          
  
        </form>
      </div>
    </div> 
  
  </div>
  
