<a class="btn btn-success" id="agregar" routerLink= "/products/product-creation" ><i class="fa fa-plus-square-o fa-6" aria-hidden="true"></i> New Product</a>

<table class="table margin">
    <thead class="table-dark">
        <tr>
            <td style="width: 10%;  text-align:center;">
                Code
            </td>
            <td style="width: 15%;  text-align:center;">
                Nombre
            </td>
            
            <td style="width: 15%;  text-align:center;">
                Precio
            </td>
            <td style="width: 15%; text-align:center;">
                Stock
            </td>
            <td style="width: 15%; text-align:center;">
                Marca
            </td>
            <td style="width: 15%; text-align:center;">
                Categoria
            </td>
            <td style="width: 20%; text-align:center;">
                Opciones
            </td>
        </tr>
        
    </thead>
    <tbody>
        <tr *ngFor="let r of recordList | paginate: { itemsPerPage: itemCount, currentPage: page }">
         
            <td style="text-align:center;">
                {{r.code}}
            </td>
            <td style="text-align:center;">
                {{r.name}}
            </td>
            <td style="text-align:center;">
                {{r.price}}
            </td>
            <td style="text-align:center;">
                {{r.stock}}
            </td>
            <td style="text-align:center;">
                {{r.brand.name}}
            </td>
            <td style="text-align:center;">
                {{r.category.name}}
            </td>
            <td style="text-align:center;">
                <a type="button" class="btn btn-info" id="botones" routerLink= "/products/product-edition/{{r.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <button (click)="RemoveConfirmation(r.id)" type="button" class="btn btn-danger" id="botones" ><i class="fa fa-trash" aria-hidden="true"></i></button>          
            </td>

        </tr>
    </tbody>
</table>
<div class="botonesPagination">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
    <ngx-spinner></ngx-spinner>
</div>
 <!-- Modal Structure -->
 <div id="RemoveConfirmationModal" class="modal"    >
    <div class="modal-content">
      <h4> MENSAJE DE CONFIRMACIÓN </h4>
      <p> Estas seguro que deseas eliminar este elemento? </p>
    </div>
    <div class="modal-footer">
      <button (click)="RemoveRecord()" type="button" class="btn btn-danger" id="botones" ><i class="fa fa-trash" aria-hidden="true"></i></button>          
      <a class="modal-close  waves-effect waves-green btn-flat">CERRAR</a>
    </div>
</div>
  
