<div class="container" style="margin-top:10px; background-color:white">
    <a type="button" style="margin-top:10px;" class="btn btn-success" id="agregar" routerLink= "/parameters/category-creation" ><i class="fa fa-plus-square-o fa-6" aria-hidden="true"></i> Nueva Categoría</a>

<table class="table margin">
    <thead class="table-dark">
        <tr>
            <td style="width: 20%;">
                ID
            </td>
            <td style="width: 10%;">
                Código
            </td>
            <td style="width: 50%;">
                Nombre
            </td>
            <td style="width: 20%; text-align:center;">
                Opciones
            </td>
        </tr>
        
    </thead>
    <tbody>
        <tr *ngFor="let r of recordList | paginate: { itemsPerPage: itemCount, currentPage: page }">
            <td>
                {{r.id}}
            </td>
            <td>
                {{r.code}}
            </td>
            <td>
                {{r.name}}
            </td>
            <td style="text-align:center;">
                <a type="button" class="btn btn-info" id="botones" routerLink= "/parameters/category-edition/{{r.id}}" routerLinkActive ="router-link-active"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <button (click)="RemoveConfirmation(r.id)" type="button" class="btn btn-danger" id="botones" ><i class="fa fa-trash" aria-hidden="true"></i></button>          
            </td>

        </tr>
    </tbody>
</table>
<div class="botonesPagination">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
    <ngx-spinner></ngx-spinner>
</div>
<div id="removeConfirmationModal" class="modal">
    <div class="modal-content">
      <h4>Remove Confirmation</h4>
      <p>Are you sure remove this record?</p>
    </div>
    <div class="modal-footer">
      <button
        (click)="RemoveRecord()"
        class="btn red waves-effect waves-light"
        type="button"
      >
        Confirm
        <i class="material-icons left">delete</i>
      </button>
      <a class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
  

</div>
