  <div class="form-container" style="margin-left:30%;margin-right:25%; margin-top:40px;">
    <div id="login-page" class="row card-panel">
      <div class="col s12 z-depth-6 card-header">
        <span class="card-title">
          <h4>
             <strong>BIENVENIDO</strong>        
         </h4>
         <p>
          Toda buena música debe ser una innovación
         </p>
       </span>
        <form [formGroup]="fgValidator" class="login-form">
          <div class="row">
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mail_outline</i>
              <input formControlName="username"  class="validate" id="username" type="text">
              <label for="username" data-error="wrong" data-success="right">Username</label>
              <div class="warning-validator" *ngIf="fgv.username.errors && (fgv.username.dirty || fgv.username.touched)"> 
                <strong *ngIf="fgv.username.errors.required">
                    This field is requerid
                </strong>
                
                <strong *ngIf="fgv.username.errors.minlength">
                  This field must be at least  {{ usernameMinLength }} long.
              </strong>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <input formControlName="password" id="password" type="password">
              <label for="password">Contraseña</label>
              <div class="warning-validator" *ngIf="fgv.password.errors && (fgv.password.dirty || fgv.password.touched)"> 
                <strong>
                    This field is requerid
                </strong>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="input-field col s12">
              
              <button (click)="LoginCustomerFn()" class="btn btn-large btn-register btn btn-success col s12" type="button" name="action">
                Iniciar Sesión
              </button>
              
              
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 m6 l6">
              <p class="margin medium-small"><a routerLink="/customer/register">Registrate Ahora!</a></p>
            </div>
            <div class="input-field col s6 m6 l6">
                <p class="margin right-align medium-small"><a routerLink="/security/reset ">¿Olvidaste tu Cuenta?</a></p>
            </div>          
          </div>
  
        </form>
      </div>
    </div> 
  
  </div>
  
